@import "./vars";
/*************
    body
*************/
.container,
body {
    position: relative;
}

/*************
    ul
*************/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*************
    section
*************/
footer,
section {
    padding-top: 100px;
}

/*************
    a (link)
*************/
a {
    outline: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

/*************
    Button
**************/
button {
    outline: none;
}

.btn:active {
    background-image: $gradient-lay !important;
}

.base-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient-lay;
    color: white;
    margin: 20px auto;
    width: 180px;
    height: 50px;
    border: none;

    svg path {
        transition: all 0.5s ease;
    }
    &:hover {
        color: $mainColor;
        svg path {
            fill: $mainColor;
        }
    }
}

.overlay {
    @include overlay();
}

.container {
    @media #{$minSmall} {
        max-width: 100%;
    }
    @media #{$minLarge} {
        max-width: 90%;
    }
}

.heading {
    .flexy-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        img:first-of-type {
            margin-left: 10px;
        }
        img:last-of-type {
            margin-right: 10px;
        }
    }

    @media #{$maxMobile} {
        img {
            width: 100px;
        }
    }
}

header .advantages,
.services .advantages {
    .item {
        cursor: pointer;
        .img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            min-height: 120px;
            background: #fff;
            width: 120px;
            margin: auto;
            border: 2px solid #38245f;
            overflow: hidden;
            margin-bottom: -44px;
        }
        .wrapper {
            border-radius: 6px;
            min-height: 150px;
            transition: all 0.5s ease;
            background-color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .text {
                font-weight: bold;
                width: 100%;
            }
        }
    }
}
