@import "./vars";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap");

* {
    font-family: "Tajawal", sans-serif;
}
/*************
    body
*************/
.container,
body {
    position: relative;
}

/*************
    ul
*************/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*************
    section
*************/
footer,
section {
    padding-top: 100px;
}

/*************
    a (link)
*************/
a {
    outline: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

/*************
    Button
**************/
button {
    outline: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn:active {
    background-image: $gradient-lay !important;
}

.base-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient-lay;
    color: white;
    margin: 20px auto;
    width: 134px;
    height: 50px;
    border: none;
    svg path {
        transition: all 0.5s ease;
    }
    &:hover {
        color: $mainColor;
        svg path {
            fill: $mainColor;
        }
    }
    @media #{$maxMobile} {
        width: 130px;
    }
}

.bottom-button {
    position: absolute;
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);
    @media #{$maxSmall} {
        position: unset;
        transform: translateX(0%);
    }
}

.overlay {
    @include overlay();
}

.container {
    @media #{$minSmall} {
        max-width: 100%;
    }
    @media #{$minLarge} {
        max-width: 90%;
    }
}

.heading {
    .flexy-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        img:first-of-type {
            margin-left: 10px;
        }
        img:last-of-type {
            margin-right: 10px;
        }
    }

    @media #{$maxMobile} {
        img {
            width: 85px;
        }
        h2 {
            font-size: 26px;
        }
    }
}

header .advantages,
.services .advantages {
    cursor: pointer;
    .item {
        .img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            min-height: 120px;
            background: #fff;
            width: 120px;
            margin: auto;
            border: 2px solid #38245f;
            overflow: hidden;
            margin-bottom: -44px;
        }
        .wrapper {
            border-radius: 6px;
            min-height: 150px;
            transition: all 0.5s ease;
            background-color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .text {
                font-weight: bold;
                width: 100%;
            }
        }
    }
}

.modal {
    padding: 0 !important;
    background-color: #040404;
    .modal-dialog {
        max-width: inherit;
        margin: 0;
        padding: 0;
        height: 100%;
        .modal-content {
            height: 100%;
            background-color: #040404;
            position: absolute;
            color: white;
            border: none;
            &#buissness-packs,
            &#service-content {
                display: none;
            }
            &#package-content {
                display: none;
                .modal-body {
                    img {
                        width: 85px;
                    }
                }
            }
            .container {
                height: 100%;
                form {
                    height: 100%;
                    & > .wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        height: 100%;
                        align-content: flex-start;
                        .modal-body {
                            div[class^="col-"] {
                                margin-bottom: 20px;
                                img {
                                    width: 73px;
                                    height: 73px;
                                }
                            }
                            input {
                                display: none;
                                &:checked ~ label {
                                    border-color: $mainColor;
                                }
                            }
                            label {
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                                border: 1px solid #e4ddef;
                                border-radius: 6px;
                                padding: 20px;
                                transition: border 0.5s ease;
                                p {
                                    margin-bottom: 0;
                                }
                                img {
                                    margin-bottom: 20px;
                                }
                            }
                        }
                        .modal-footer,
                        .modal-header {
                            border: none;
                            width: 100%;
                        }
                        .modal-header {
                            button {
                                margin: 0;
                                position: absolute;
                                top: 10px;
                                right: 15px;
                            }
                            .heading {
                                margin: 50px auto 20px;
                            }
                        }
                        .modal-footer {
                            .base-button {
                                width: 300px;
                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            .order {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: #040404;
                .modal-header {
                    text-align: center;
                    border: none;
                    span {
                        margin: 0;
                        position: absolute;
                        top: 10px;
                        right: 15px;
                    }
                    .heading {
                        margin: 50px auto 20px;
                    }
                }
                .modal-body,
                .modal-footer {
                    border: none;
                }
                .phone-form {
                    width: 70px;
                    margin-left: 20px;
                }
                .number-form {
                    width: calc(100% - 93px);
                }
                input {
                    background-color: #040404;
                    color: white;
                }
                button[type="submit"] {
                    width: 300px;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
