@import "./settings/_layout";
@import "./settings/_vars";

header {
    background: url(../imgs/home-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    nav.navbar-dark {
        .navbar-brand img {
            width: 70px;
        }
        .navbar-toggler {
            border-color: white;
            outline: none;
        }
        ul.navbar-nav {
            li.nav-item {
                position: relative;
                display: inline-block;
                &.active::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    right: 0;
                }
                a.nav-link {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
    .demo {
        min-height: 500px;
        .carousel-indicators {
            z-index: 1;
            li {
                cursor: pointer;
                width: 20px;
                border-radius: 5px;
                transition: width 0.5s ease;
                &.active {
                    width: 50px;
                }
            }
        }
    }
    a.base-button,
    button.base-button {
        background: transparent;
        border: 1px solid #fff;
    }
    .white-line {
        position: absolute;
        bottom: 0;
        height: 104px;
        width: 100%;
        right: 0;
        background-color: white;
    }

    @media #{$maxMobile} {
        & {
            height: auto;
        }
        .carousel-indicators {
            bottom: 15%;
        }
    }

    @media #{$minMedium} {
        nav.navbar-dark {
            .navbar-brand img {
                width: 100px;
            }
        }
        ul.navbar-nav {
            margin-right: 100px;
            li.nav-item {
                margin-left: 10px;
            }
        }
        .item {
            &:hover {
                .wrapper {
                    background-color: transparent;
                }
            }
        }
    }

    @media #{$minSmall} {
        .carousel-indicators {
            transform: rotate(90deg);
            right: -140px;
            left: unset;
            bottom: 50%;
        }
    }
}

.about-us-section {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        & > div {
            width: 100%;
        }
    }
}

.our-vision {
    iframe {
        width: 100%;
        height: 500px;
    }
}

.services {
    .advantages {
        div[class^="col-"] {
            margin-top: 15px;
        }
        .item {
            .img {
                border: none;
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
            .wrapper {
                border: 1px solid #e4ddef;
                height: 200px;
                .text {
                    padding: 10px;
                    padding-top: 40px;
                    background-color: none;
                }
            }
        }
    }
}

.packages {
    .wrapper {
        box-shadow: 0px 3px 31px -12px #8b8686;
        padding: 20px 0;
        .package-serve {
            .serve {
                display: flex;
                align-items: center;
                text-align: right;
                padding: 10px;
                span {
                    margin-right: 10px;
                }
            }
        }
    }
    .ask-serve {
        button.base-button {
            &:hover {
                color: white;
            }
        }
    }
}

.sponsors {
    div[class^="col-"] {
        margin: 15px 0;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e4ddef;
        border-radius: 6px;
        cursor: pointer;
        height: 100%;
        img {
            width: 200px;
            height: 200px;
            filter: grayscale(100%);
            transition: all 0.5s ease;
        }
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
    @media #{$maxMobile} {
        .wrapper img {
            width: 100%;
        }
    }
}

.contact-us {
    .form {
        form {
            .phone-form {
                width: 70px;
                margin-left: 20px;
            }
            .number-form {
                width: calc(100% - 93px);
            }
            input[type="submit"] {
                &:hover {
                    color: white;
                }
            }
        }
    }
    iframe {
        min-height: 600px;
    }
    @media #{minMeduim} {
        iframe {
            height: 100%;
        }
    }
}

footer {
    ul {
        li {
            margin-bottom: 20px;
            display: flex;
        }
        &.social {
            li {
                display: inline-block;
                margin-left: 15px;
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    .news input:last-of-type {
        margin-right: 0;
        &:hover {
            color: white;
        }
    }
    .copy-right {
        img {
            width: 40px;
        }
    }
    @media #{$minMedium} {
        .paragraph {
            width: 70%;
        }
    }
    @media #{$maxMobile} {
        ul li {
            font-size: 12px;
        }
        .copy-right {
            img {
                margin-left: 0 !important;
            }
            & > * {
                display: block;
            }
        }
    }
}
